.button-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    min-height: 95vh; 
}